@import "./components/login/login.css";
@import "./components/inventario/inventario.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');


.drawer-open{
  padding-left: 256px;
  transition: all .3s ease;
}

.drawer-close{
  transition: all .3s ease;
}

.transition{
  transition: all .3s ease;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
